.component-container {
    padding: 1rem;
    background-color: #eeeff0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.component-code-view {
    padding: 0.5rem 1rem;
    background-color: #1e2323;
    color: #d6c000;
    border-radius: 0.5rem;
    font-family: "Courier New", Courier, monospace;
    width: fit-content;
}