:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.sandbox__content {
  flex: 1;
  padding: 2rem 1.5rem;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tab {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #84caf3;
  font-size: large;
}
